name: CI

on:
  push:
  pull_request:

jobs:
  bun:
    name: Bun
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: oven-sh/setup-bun@v1
        with:
          bun-version: latest

      - run: bun install
      - run: bun test
      - run: bun run build
